www.kariukikagunda.com {
    redir https://kariukikagunda.com{uri} permanent
}

kariukikagunda.com {
    encode zstd gzip

    handle /api/* {
        reverse_proxy api:3000
    }

    handle {
        root * /srv/site
        try_files {path} {path}/ /index.html
        file_server
    }

    header {
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
        X-Frame-Options SAMEORIGIN
        -Server
    }

    log {
        output stdout
        format json
    }
}

{$WEB_DOMAIN:os.kariukikagunda.com} {
    encode zstd gzip

    root * /srv/web
    try_files {path} /index.html
    file_server

    header {
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
        X-Frame-Options SAMEORIGIN
        -Server
    }

    log {
        output stdout
        format json
    }
}

{$API_DOMAIN:api.kariukikagunda.com} {
    encode zstd gzip

    reverse_proxy api:3000

    header {
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
        -Server
    }

    log {
        output stdout
        format json
    }
}
